<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.springboot.mapper.EmployeeMapper">

    <select id="findAll" resultType="com.example.springboot.entity.Employee">
        <!--        SELECT * FROM PERSON WHERE ID = #{id}-->
        select * from employee
    </select>


    <select id="selectById" resultType="com.example.springboot.entity.Employee">
        <!--        SELECT * FROM PERSON WHERE ID = #{id}-->
        select * from employee
        WHERE ID = #{id}
        OR NAME LIKE CONCAT('%', #{name}, '%')
        OR AGE = #{age}
    </select>

    <select id="selectList" resultType="com.example.springboot.entity.Employee">
        <!--        SELECT * FROM PERSON WHERE ID = #{id}-->
        select * from employee
        WHERE ID = #{id}
        OR NAME LIKE CONCAT('%', #{name}, '%')
        OR AGE = #{age}
    </select>

</mapper>